<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thebengalstudio.mylibrary1">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.FORCE_STOP_PACKAGES"
        tools:ignore="ProtectedPermissions" />



    <application
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SignUpProcess.LogIn"
            android:theme="@style/Theme.TBS_AUTH"
            android:exported="false" />
    </application>

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />

</manifest>